
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,500&display=swap');


body {
    background-image: linear-gradient(to bottom right, rgba(0, 0, 255, 0.811) , rgba(255, 0, 255, 0.576));
    height: 100%;
   
}

#canvas{
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding-left: 0;
    padding-right: 0;
    width: 450px;
    height: 450px ;
    border: 1px solid rgb(255, 255, 255);
    background-color: rgb(247, 245, 245);
}

h1{
    font-family: Roboto;
    text-align: center;
    color: white;
    font-size: 50px;
}

.buttonSection{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.imagesData{
  text-align: center;
  color: white;
  font-family: Roboto;
}

.imagesContainer{
  border: 1px solid white;
  width: 300px;
  height: 400px
}

#downloadButton{
    display: block;
    margin-top: 50px;
    margin-bottom: 50px;

    background-color: rgba(30, 143, 255, 0);
    border: 2px solid white;
    border-radius: 8px;
    color: white;
    cursor: pointer;
    padding: 12px 30px;
    font-size: 20px;
    margin-right: 20px;
}

#downloadButton:hover{
    background-color: rgba(57, 65, 220, 0.76);
}

#saveButton{
  display: block;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 20px;

  background-color: rgba(30, 143, 255, 0);
  border: 2px solid white;
  border-radius: 8px;
  color: white;
  cursor: pointer;
  padding: 12px 30px;
  font-size: 20px;
}

#saveButton:hover{
  background-color: rgba(57, 65, 220, 0.76);
}



.canvasContainer {
    display: flex;
    flex-direction: row;
   
    justify-content: space-around;
    margin-left: 50px;
    margin-right: 200px;
}

.dropdown {
  position: relative;
  display: flex;
  flex-direction: column;

  justify-content: space-around;
}

  
  #colorButton {
    background-color: transparent;
    color: white;
    padding: 16px;
    font-size: 16px;
    border:2px solid white;
    border-radius: 8px;
    width: 150px;
    cursor: pointer;
  }


  #dropdown-content-color {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    font-family: sans-serif;
    font-size: 16px;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  
  #dropdown-content-color a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

#dropdown-content-color a:hover {background-color: #ddd;}
#colorButton:hover  {background-color: rgba(57, 65, 220, 0.76)}
.colorSection:hover #dropdown-content-color {display: block;}


#characterButton {
  background-color: transparent;
  color: white;
  padding: 16px;
  font-size: 16px;
  border:2px solid white;
  border-radius: 8px;
  width: 150px;
  cursor: pointer;
}


.dropdown-content-character {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  font-family: sans-serif;
  font-size: 16px;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}


.dropdown-content-character a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

#characterButton:hover  {background-color: rgba(57, 65, 220, 0.76)}
.characterSection:hover .dropdown-content-character {display: block;}
.dropdown-content-character a:hover {background-color: #ddd;}

#itemButton {
  background-color: transparent;
  color: white;
  padding: 16px;
  font-size: 16px;
  border:2px solid white;
  border-radius: 8px;
  width: 150px;
  cursor: pointer;
}


.dropdown-content-item {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  font-family: sans-serif;
  font-size: 16px;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}


.dropdown-content-item a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

#itemButton:hover  {background-color: rgba(57, 65, 220, 0.76)}
.itemSection:hover .dropdown-content-item {display: block;}
.dropdown-content-item a:hover {background-color: #ddd;}

